.testimony-wrapper {
  width: 100%;
  height: 350px;
  margin: 1rem 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 9%);
  overflow: hidden;
}

.testimony-img {
  height: 100%;
  width: auto;
}

.testimony-content-wrapper {
  text-align: center;
  padding: 3rem;
}

.testimony-name {
  font-size: 1.3rem;
}

.testimony-position {
  font-size: 1.3rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.testimony-quote {
  font-size: 1.1rem;
  text-align: justify;
}

.testimony-content-wrapper span {
  font-weight: bold;
}