@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  background-color: #f5f6f7;
  font-weight: 400;
}


h1 {
  font-size: 2.5em;
  font-weight: 700;
  max-width: 940px;
  line-height: 1.1;
  margin: 40px 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  min-height: 600px;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}